

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: gabriola;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.7;
    color: rgba(255, 254, 226, 0.67);
    padding: 2rem;
    box-sizing: border-box;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8)), url(img/cinghiale.jpeg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}

.header__logo-box {
    animation-duration:2s;
    animation-name:opacityUp;
    position: absolute;
    margin: 2rem;
}

.heading--primary {
    color: white;
    text-transform: uppercase;
}

.heading-primary--main {
    animation-duration:2s;
    animation-name:moveInRight;
    display: block;
    font-size: 4rem;
    letter-spacing: 1rem;
    font-weight: 800;
}

.heading-primary--sub {
    animation-name:moveInLeft;
    animation-duration:2s;
    font-weight: 40rem;
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.2rem;
    margin-bottom:6rem;
}

.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
}

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(2rem);
    }
    100% {
        opacity:1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-2rem);
    }
    100% {
        opacity:1;
        transform: translate(0);
    }
}
@keyframes opacityUp {
    0%{
        opacity: 0;
    }
    100% {
        opacity:1;
    }
}

.btn:link,
.btn:visited {
    text-transform:uppercase;
    text-decoration: none;
    padding: 2.5rem,6rem;
    display: inline-block;
    transition: all .2s;
    border-radius:10rem;
    position:relative;
    animation-name:moveBottom;
    animation-duration: 2s;
    font-size:2rem;
}
.btn:hover {
    transform: translateY(-.3rem);
    box-shadow:0 10px 20px rgba(0,0,0,.2);
}
.btn:active {
    transform: translateY(-.2rem);
    box-shadow:0 5px 10px rgba(0,0,0,.2);
}

.btn--white {
    background-color:#fff;
    color:#777;
    padding: 1rem;
}
.btn::after {
    content: "";
    display:inline-block;
    height:100%;
    width:100%;
    border-radius: 100px;
    position:absolute;
    top:0;
    left:0;
    z-index: 1;
    transition: all.4s;
}
.btn:hover::after {
    background-color:#fff;

}
.btn:hover::after {
    transform:scaleX(1.4) scaleY(1.6);
    opacity:0;

}


@keyframes moveBottom {
    0%{
        opacity: 0;
        transform:translateY(15rem)
    }
    100% {
        opacity:1;
        transform:translateY(0px)
    }
}
